black==19.10b0
flake8==4.0.1
tox==3.24.5
isort==5.10.1
numpy==1.22.0
pandas==1.4.2
pre-commit==2.17.0
omegaconf==2.1.1
matplotlib==3.4.3
mne==1.0.0
mrmr==0.2.5
scipy==1.7.1
sklearn==0.24.2
vmdpy==0.2
yasa==0.6.1
