black==19.10b0
flake8==4.0.1
isort==5.10.1
joblib==1.1.0
matplotlib==3.4.3
mne==1.0.0
mrmr==0.2.5
neurodsp==2.1.0
numpy==1.22.0
omegaconf==2.1.1
pandas==1.4.2
pre-commit==2.17.0
seaborn==0.11.2
scikit-learn==1.1.1
scipy==1.7.1
sklearn==0.24.2
tox==3.24.5
vmdpy==0.2
yasa==0.6.1